<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Email Template</title>
</head>
<body>
	<p>Hello Team,</p>
	<p>Please find the application status below:</p>
	
	<table style="width:100%; border-collapse: collapse;">
		<thead>
			<tr style="background-color: lightblue;">
				<th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Application Name</th>
				<th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Application URL</th>
				<th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Status</th>
				<th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Message</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="border: 1px solid #ddd; padding: 8px;"><span th:text="${app.field1}"></span></td>
				<td style="border: 1px solid #ddd; padding: 8px;"><span th:text="${app.field2}"></span></td>
				<td style="border: 1px solid #ddd; padding: 8px;"><span th:text="${app.field2}"></span></td>
				<td style="border: 1px solid #ddd; padding: 8px;"><span th:text="${app.field2}"></span></td>
			</tr>
		</tbody>
	</table>
	
	<p>Thank you,</p>
</body>
</html>
